<%= form_for(@category) do |f| %>
  <p>
    <%= f.label :users %><br />
    <% for user in User.all %>
      <%= check_box_tag "category[user_ids][]", user.id, @category.users.include?(user) %>
      <%=h user.fullname %><br />
    <% end %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
